<head>
  <meta charset="utf-8">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="DeafIT - IT-Konferenz für Gehörlose">
  <meta name="author" content="DeafIT">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/github-prettify-theme.css">
  <script src="{{ site.baseurl }}public/js/main.js"></script>

  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
