<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item" style="margin-right: 20px">
        <a href="/"><img src="{{ site.baseurl }}public/logo-small.gif" height="50"></a>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/#willkommen">Willkommen</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/#vision">Die Vision</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/conference">Konferenz</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/team">Team</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/atom.xml">RSS</a></li>
    </ul>
  </div>
</nav>
