<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item" style="margin-right: 20px">
        <a href="/" class="logo"><img src="{{ site.baseurl }}public/logo-small.gif"></a>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/#willkommen">Willkommen</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/#vision">Die Vision</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/conference">Konferenz</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/team">Team</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">Archiv</a>
        <div id="moreNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/archiv/2014/conference">Konferenz 2014</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/archiv/2014/bericht">Bericht 2014</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-share-buttons">
        <ul class="share-buttons">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.deafit.org&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Facebook.png"></a></li>
          <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.deafit.org&text=:%20http%3A%2F%2Fwww.deafit.org" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Twitter.png"></a></li>
          <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.deafit.org" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Google+.png"></a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.deafit.org&title=&summary=&source=http%3A%2F%2Fwww.deafit.org" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/public/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
          <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.deafit.org" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Email.png"></a></li>
        </ul>
      </li>

      <!-- <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>-->
      <!-- <li class="navbar-item"><a class="navbar-link" href="/atom.xml">RSS</a></li>-->
    </ul>
  </div>
</nav>
