<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item" style="margin-right: 20px">
        <a href="/"><img src="{{ site.baseurl }}public/logo-small.gif" height="50"></a>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/#willkommen">Willkommen</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/#vision">Die Vision</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#codeNavPopover">Konferenz</a>
        <div id="codeNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="/conference">Programm</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/conference#referenten">Referenten</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="/conference#sponsoren">Sponsoren</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/team">Team</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/atom.xml">RSS</a></li>
    </ul>
  </div>
</nav>