<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body class="docked-nav">

    <div class="container">

      {% include nav.html %}

    </div>

      <main>

        {% if page.parallax %}
          <div class="parallax-window" data-parallax="scroll" data-image-src="{{ {{site.baseurl }}{{ page.parallax }}"></div>
        {% endif %}

        <div class="container" style="margin-top:25px">
          {{ content }}

          {% include comments.html %}
        </div>
      </main>

    <div class="container">
      {% include footer.html %}
    </div>

  </body>
</html>
