<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body class="docked-nav">

    <div class="container">

      {% include nav.html %}

    </div>

      <main>

        {% if page.parallax %}
          <div class="parallax-window" data-parallax="scroll" data-image-src="{{ {{site.baseurl }}{{ page.parallax }}"></div>
        {% endif %}

        <div class="container" style="margin-top:25px">
          {{ content }}

          {% if page.share %}
          <hr>
          <ul class="share-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.deafit.org&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Facebook.png"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.deafit.org&text=:%20http%3A%2F%2Fwww.deafit.org" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Twitter.png"></a></li>
            <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.deafit.org" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Google+.png"></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.deafit.org&title=&summary=&source=http%3A%2F%2Fwww.deafit.org" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/public/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
            <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.deafit.org" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/public/images/flat_web_icon_set/color/Email.png"></a></li>
          </ul>
          {% endif %}

          {% include comments.html %}
        </div>
      </main>

    <div class="container">
      {% include footer.html %}
    </div>

  </body>
</html>
