<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body class="docked-nav">

    <div class="container">

      {% include nav.html %}

      <section class="header">
        <h2 class="title">
          <img src="{{ site.baseurl }}public/logo-negative.gif" width="200"><br>
          An accesible conference<br> for the deaf community.
        </h2>
        <a class="button button-primary" href="#willkommen">Mehr Info</a>
        <div class="value-props row">
          <div class="four columns value-prop">
            <i class="fa fa-heart fa-4x"></i>
            <br>
            Made with <i class="fa fa-heart-o"></i> from <br>deaf people in Germany.
          </div>
          <div class="four columns value-prop">
            <i class="fa fa-cog fa-spin fa-4x"></i>
            <br>
            Push our network working together.
          </div>
          <div class="four columns value-prop">
            <i class="fa fa-rocket fa-4x"></i>
            <br>
            Share your knowledge with your deaf friends.
          </div>
        </div>
      </section>
    </div>

    <main>
    
      {% if page.parallax %}
      <div class="parallax-window" data-parallax="scroll" data-image-src="{{ {{site.baseurl }}{{ page.parallax }}"></div>
      {% endif %}

      <div class="container" style="margin-top:25px">
        {{ content }}

        {% include comments.html %}
      </div>
    </main>

    <div class="container">
      {% include footer.html %}
    </div>

  </body>
</html>
